$Ubuntu: 'Ubuntu';
$Futuris: 'FuturaFuturisC Bold';
$mainColor: #CC0033;
@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size !important;
    font-family: $family !important;
}
@mixin fons_new($size: 1rem, $family: $Ubuntu) {
    font-size: $size !important;
    font-family: $family, bold !important;
}
.MuiRadio-colorSecondary.Mui-checked{
    color: $mainColor!important;
}
.Accordion{
    padding-left: 12px;
    padding-right: 12px;
    & > div{
        box-shadow: none!important;
        & > div{
            padding: 0;
        }
    }
}
div:not(.boxItem) .promoIcon{
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    left: 145px;
    color: $mainColor;
}
div.boxItem .promoIcon{
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    left: 100px;
    color: $mainColor;
}
.DialogErrText{
    @include fons(1rem, $Ubuntu);
    text-align: center;
}
.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: $mainColor!important;
}
.newAddr{
    padding-left: 0px!important;
    padding-right: 0px!important;
    display: flex;
    flex-direction: column;
    & .MuiFormControl-root{
        vertical-align: baseline!important;
    }
    & .MuiFormControl-marginNormal{
        margin-top: 0!important;
    }
    & > div:first-child{
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        & > div:first-child{
            margin-right: 9px;
            width: calc(67% - 8px);
        }
        & > div:last-child{
            margin-left: 9px;
            width: calc(33% - 9px);
        }
    }
    & > div:not(:last-child):not(:first-child){
        display: flex;
        flex-direction: row;
        & > div:first-child{
            margin-right: 9px;
        }
        & > div:last-child{
            margin-left: 9px;
        }
        & > div:not(:last-child):not(:first-child){
            margin-left: 9px;
            margin-right: 9px;
        }
    }
    & .chooseDomTrue{
        width: 100%;
        padding-top: 20px;
        & button:first-child{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        & button:last-child{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        & button.active{
            background-color: $mainColor;
            color: #fff;
        }
        & button:not(.active){
            background-color: #fff;
            border: 1px solid $mainColor;
            color: $mainColor;
        }
        & button{
            width: 50%;
        }
        & span{
            font-size: 0.8rem!important;;
            width: 100%;
            font-family: "Ubuntu" !important;
            text-transform: none;
            white-space: nowrap;
        }
    }
}
.DialogChooseNewAddr div.BtnBorder, 
.DialogChoosePicDialog div.BtnBorder,
.DialogErr div.BtnBorder{
    width: 100%;
    margin: 14px 0px;
    & button{
        width: 100%;
    }
}
.DialogErr .MuiDialog-paper{
    min-width: 300px;
}
.DialogErr div.BtnBorder{
    margin: 14px 14px;
}
.orderCheckText{
    @include fons(1rem, $Ubuntu);
    padding-bottom: 10px;
    &.bold{
        font-weight: bold;
    }
}
.tableOrderCheck .orderCheckText{
    padding-bottom: 0px;
}
.orderCheckTitle{
    @include fons_new(1.3rem, $Futuris);
    padding: 16px;
    padding-bottom: 0;
    text-align: center;
}
.boxAddr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    & span{
        @include fons(1rem, $Ubuntu);
    }
    & > svg{
        font-size: 1.3rem;
        color: #e5e5e5;
        padding: 10px;
        cursor: pointer;
    }
}
.DialogChoosePayDialog{
    & .MuiAvatar-root{
        width: 50px;
        height: 50px;
    }
    & svg{
        font-size: 1.5rem;
    }
    & span{
        @include fons(1.2rem, $Ubuntu);
    }
    & .MuiListItemAvatar-root{
        min-width: 66px;
    }
    & h2{
        @include fons_new(1.5rem, $Futuris);
        text-align: center;
        color: #000;
    }
}
.boxPic{
    background-color: #e5e5e5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 6px 12px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover{
        background-color: $mainColor;
        color: #fff;
    }
    &.active{
        background-color: $mainColor;
        color: #fff;
    }
    & span:first-child{
        text-align: center;
        @include fons(0.7rem, $Ubuntu);
    }
    & span:last-child{
        text-align: center;
        @include fons(1rem, $Ubuntu);
    }
}
.DialogChooseAddr .MuiDialog-container > div, 
.DialogChooseNewAddr .MuiDialog-container > div, 
.DialogChoosePicDialog .MuiDialog-container > div{
    margin: 16px;
    width: 100%;
}
.newAddrMobile{
    display: flex;
    flex-direction: column;
    & > div{
        margin: 10px 0px;
        & .MuiFormControl-marginNormal{
            margin: 0!important;
        }
    }
    & .chooseDomTrue{
        & button:first-child{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        & button:last-child{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        & button.active{
            background-color: $mainColor;
            color: #fff;
        }
        & button:not(.active){
            background-color: #fff;
            border: 1px solid $mainColor;
            color: $mainColor;
        }
        & button{
            width: 50%;
        }
        & span{
            font-size: 0.6rem!important;;
            width: 100%;
            font-family: "Ubuntu" !important;
            text-transform: none;
            white-space: nowrap;
        }
    }
}
.closeDialog{
    font-size: 1.5rem;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px;
    color: #e5e5e5;
}
.tableOrderCheck{
    border-collapse: collapse;
    width: 100%;
    & tbody{
        border-bottom: 2px solid #96969A;
        & tr:not(:last-child){
            border-bottom: 1px solid #96969A;
        }
        & td{
            padding: 5px 0;
        }
    }
    & .namePrice.orderCheckText{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}
.nameSdacha.orderCheckText{
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
}
.tableMobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    & > .boxItem{
        position: relative;
    }
    & > .boxItem:not(:last-child){
        border-bottom: 1px solid #e5e5e5;
    }
    & > .boxItem.rowAboutDop{
        padding: 10px;
        background-color: rgba(229, 229, 229, 0.3);
        text-align: center;
        & span{
            @include fons(1rem, $Ubuntu);
            color: $mainColor;
            font-weight: bold;
        }
    }
    &.OrderCheckDopDialog .boxItem:not(.rowAboutDop){
        & img{
            max-width: 100%!important;
            max-height: 80px;
            height: auto;
        }
    }
    & > .boxItem:not(.rowAboutDop){
        display: flex; 
        flex-direction: row;
        padding: 10px 0;
        & img{
            max-width: calc(100vw / 3);
            height: auto;
        }
        & > div{
            display: flex; 
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            & > span{
                @include fons(1.2rem, $Ubuntu);
                padding-left: 7px;
            }
            & > div{
                display: flex; 
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                & div:not(.promo) > .BtnCardMain svg{
                    @include fons(1.2rem, $Ubuntu);
                    color: $mainColor;
                }
                & div.promo > .BtnCardMain svg{
                    @include fons(1.2rem, $Ubuntu);
                    color: #e5e5e5;
                }
                & .BtnCardMain .CardCountItem{
                    @include fons(1.2rem, $Ubuntu);
                }
                & .namePrice{
                    display: flex; 
                    flex-direction: row;
                    @include fons(1.2rem, $Ubuntu);
                }
                & .namePriceOld{
                    @include fons(0.85rem, $Ubuntu);
                    color: rgb(187, 189, 192);
                    font-weight: bold;
                    text-decoration: line-through;
                    padding-right: 12px;
                    position: absolute;
                    right: 0;
                    bottom: 2.5rem;
                }
            }
        }
    }
}
.boxMobile_ input, .boxMobile_ .MuiInputBase-multiline{
    padding: 10px 14px!important;
    z-index: 1;
}
.boxMobile_ input{
    padding-right: 28px!important;
}
.boxMobile_.area .MuiInputLabel-outlined{
    transform: translate(14px, 12px) scale(1);
    @include fons(1rem, $Ubuntu);
}
.boxMobile_.area .MuiInputLabel-outlined.MuiInputLabel-shrink{
    transform: translate(14px, -5px) scale(0.75);
    @include fons(1rem, $Ubuntu);
}
.DialogOrderCheckDialog .MuiDialog-paperFullWidth{
    width: calc(100% - 24px)!important;
    margin: 12px!important;
}
.Cart{
    margin-top: 64px!important;
    & h1{
        @include fons_new(2rem, $Futuris);
        text-align: center;
    }
    & .mainContainer.mobile{
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-left: 46px!important;
        padding-right: 24px;
        & .boxMobile{
            padding: 10px 5px;
            border-bottom: 1px solid #e5e5e5;
            & span{
                @include fons(1rem, $Ubuntu);
            }
        }
        & .bottomOrder{
            width: calc(100% - 48px);
            padding: 12px 24px;
            height: 90px;
            background-color: #fff;
            position: fixed;
            bottom: 45px;
            left: 0;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > div:first-child, div:not(:first-child):not(:last-child){
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                & span{
                    @include fons(1.2rem, $Ubuntu);
                }
                & .namePrice{
                    display: flex; 
                    flex-direction: row;
                    @include fons(1.2rem, $Ubuntu);
                }
                & .namePriceOld{
                    @include fons(0.85rem, $Ubuntu);
                    color: rgb(187, 189, 192);
                    font-weight: bold;
                    text-decoration: line-through;
                    padding-right: 12px;
                }
            }
            & > div:last-child > div{
                width: 100%;
                & > button{
                    width: 100%;
                }
            }
        }
        & .SpacePromo{
            padding: 2px 4px;
            display: flex;
            align-items: center;
            height: 34px;
            max-width: 390px;
            & > div{
                margin-left: 8px;
                flex: 1;
            }
            & hr{
                height: 28px;
                margin: 4px;
            }
            & svg{
                fill: $mainColor;
            }
            & input{
                @include fons(1rem, $Ubuntu);
            }
        }
        & .DescPromo{
            padding-top: 10px;
            & span{
                @include fons(0.95rem, $Ubuntu);
                color: rgb(187, 189, 192);
            }
        }
    }
    & .mainContainer:not(.mobile){
        padding-top: 0!important; 
        padding-bottom: 50px;
        & .errTimePred{
            @include fons(1.2rem, $Ubuntu);
            padding: 12px;
            background-color: $mainColor;
            opacity: 0.3;
        }
        & > div.promoOrder{
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 20px;
            & > div:last-child{
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
            }
            & > div{
                width: 35%;
                @media (max-width: 960px) {
                    width: 100%;
                }
                & > div{
                    width: 80%;
                    margin: 12px 0px;
                }
                & > div.BtnBorder{
                    width: 200px;
                    display: block;
                    & button{
                        width: 100%;
                    }
                }
            }
            & .DescPromo span{
                @include fons(0.8rem, $Ubuntu);
                color: rgba(0, 0, 0, 0.87);
            }
        }
        & > div:not(.promoOrder){
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 20px;
            & > div{
                width: 50%;
                @media (max-width: 960px) {
                    width: 100%;
                }
            }
            & > fieldset{
                width: 50%;
                @media (max-width: 960px) {
                    width: 100%;
                }
                & > div{
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
            & > form{
                width: 50%;
                @media (max-width: 960px) {
                    width: 100%;
                }
            }
            & .MuiFormControlLabel-label{
                @include fons(1rem, $Ubuntu);
            }
            
        }
        & > div.orderSdacha{
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 20px;
            & > div{
                width: 70%;
                @media (max-width: 960px) {
                    width: 100%;
                }
                & > div{
                    width: 41%;
                }
            }
        }
        & .MuiPaper-elevation1:not(.SpacePromo){
            box-shadow: none!important;
        }
        & .MuiAccordion-root:before{
            height: 0!important;
        }
        & .MuiAccordionSummary-root{
            padding: 0!important;
        }
        & .SpacePromo{
            padding: 2px 4px;
            display: flex;
            align-items: center;
            height: 34px;
            width: 390px;
            & > div{
                margin-left: 8px;
                flex: 1;
            }
            & hr{
                height: 28px;
                margin: 4px;
            }
            & svg{
                fill: $mainColor;
            }
            & input{
                @include fons(1rem, $Ubuntu);
            }
        }
        & .tableCart{
            width: 70%;
            border-collapse: collapse;
            @media (max-width: 960px) {
                width: 100%;
            }
            & .nameItem{
                @include fons(1.2rem, $Ubuntu);
            }
            & .descItem{
                @include fons(0.7rem, $Ubuntu);
                color: gray;
            }
            & .namePrice{
                @include fons(1.2rem, $Ubuntu);
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-top: 10px;
                padding-right: 12px;
            }
            & .namePriceOld{
                @include fons(0.85rem, $Ubuntu);
                color: rgb(187, 189, 192);
                font-weight: bold;
                text-decoration: line-through;
                padding-right: 12px;
            }
            & img{
                height: 100px;
                padding: 12px;
                width: auto;
            }
            & tbody > tr > td:first-child > div{
                display: flex;
                flex-direction: column;
            }
            & tbody > tr:not(.rowAboutDop) > td:last-child{
                min-width: 100px;
                text-align: end;
            }
            & tbody tr{
                border-bottom: 1px solid #e5e5e5;
            }
            & .count:not(.promo) svg{
                color: $mainColor;
            }
            & .count.promo svg{
                color: #e5e5e5;
            }
            & .rowAboutDop{
                background-color: rgba(229, 229, 229, 0.3);
                & span{
                    @include fons(1rem, $Ubuntu);
                    color: $mainColor;
                    font-weight: bold;
                }
                & td{
                    text-align: center;
                    padding: 12px;
                }
            }
        }
    }
    @media (min-width: 960px) {
        margin-left: 8.35% !important; 
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }
    @media (max-width: 960px) {
        margin: -24px!important;
        margin-top: 64px!important;
        & > div{
            padding-left: 34px!important;
        }
        & h1{
            @include fons_new(1.7rem, $Futuris);
            text-align: center;
        }
    }
}
.newAddr{
    @include fons(1rem, $Ubuntu);
    color: $mainColor;
    cursor: pointer;
}
.newAddrMobile{
    @include fons(1.2rem, $Ubuntu);
    color: $mainColor;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}
.DialogOrderCheckDopDialog{
    & .MuiDialog-paperFullWidth{
        width: calc(100% - 32px);
    }
    & .MuiDialog-paper{
        margin: 16px;
    }
}