$Ubuntu: 'Ubuntu';
$Futuris: 'Futuris Bold';
$mainColor: #BB0025;
@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size !important;
    font-family: $family !important;
}
.MuiRadio-colorSecondary.Mui-checked{
    color: $mainColor!important;
}
.Accordion{
    padding-left: 12px;
    padding-right: 12px;
    & > div{
        box-shadow: none!important;
        & > div{
            padding: 0;
        }
    }
}
.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: $mainColor!important;
}
.orderCheckText{
    @include fons(1.2rem, $Ubuntu);
    padding-bottom: 10px;
}
.orderCheckTitle{
    @include fons(1.5rem, $Futuris);
    padding: 16px;
    padding-bottom: 0;
    text-align: center;
}
.Cart{
    margin-top: 64px!important;
    & h1{
        @include fons(2rem, $Futuris);
        text-align: center;
    }
    & .mainContainer{
        padding-top: 0!important; 
        padding-bottom: 50;
        & .errTimePred{
            @include fons(1.2rem, $Ubuntu);
            padding: 12;
            background-color: $mainColor;
            opacity: 0.3;
        }
        & > div.promoOrder{
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 20px;
            & > div:last-child{
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
            }
            & > div{
                width: 35%;
                @media (max-width: 960px) {
                    width: 100%;
                }
                & > div{
                    width: 80%;
                    margin: 12px 0px;
                }
                & > div.BtnBorder{
                    width: 150px;
                    display: block;
                    & button{
                        width: 100%;
                    }
                }
            }
            & .DescPromo span{
                @include fons(0.8rem, $Ubuntu);
                color: rgb(187, 189, 192);
            }
        }
        & > div:not(.promoOrder){
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 20px;
            & > div{
                width: 50%;
                @media (max-width: 960px) {
                    width: 100%;
                }
            }
            & > fieldset{
                width: 50%;
                @media (max-width: 960px) {
                    width: 100%;
                }
                & > div{
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
            & > form{
                width: 50%;
                @media (max-width: 960px) {
                    width: 100%;
                }
            }
            & .MuiFormControlLabel-label{
                @include fons(1rem, $Ubuntu);
            }
            
        }
        & > div.orderSdacha{
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 20px;
            & > div{
                width: 70%;
                @media (max-width: 960px) {
                    width: 100%;
                }
                & > div{
                    width: 41%;
                }
            }
        }
        & .MuiPaper-elevation1:not(.SpacePromo){
            box-shadow: none!important;
        }
        & .MuiAccordion-root:before{
            height: 0!important;
        }
        & .MuiAccordionSummary-root{
            padding: 0!important;
        }
        & .SpacePromo{
            padding: 2px 4px;
            display: flex;
            align-items: center;
            height: 34;
            width: 390;
            & > div{
                margin-left: 8;
                flex: 1;
            }
            & hr{
                height: 28;
                margin: 4;
            }
            & svg{
                fill: $mainColor;
            }
            & input{
                @include fons(1rem, $Ubuntu);
            }
        }
        & .tableCart{
            width: 70%;
            border-collapse: collapse;
            @media (max-width: 960px) {
                width: 100%;
            }
            & .nameItem{
                @include fons(1.2rem, $Ubuntu);
            }
            & .descItem{
                @include fons(0.7rem, $Ubuntu);
                color: gray;
            }
            & .namePrice{
                @include fons(1.2rem, $Ubuntu);
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-top: 6px;
                padding-right: 12px;
                & svg{
                    padding-top: 6px;
                    font-size: 1rem;
                    padding-left: 2px;
                }
            }
            & img{
                height: 100px;
                padding: 12px;
            }
            & tbody > tr > td:first-child > div{
                display: flex;
                flex-direction: column;
            }
            & tbody > tr:not(.rowAboutDop) > td:last-child{
                min-width: 100px;
                text-align: end;
            }
            & tbody tr{
                border-bottom: 1px solid #e5e5e5;
            }
            & .count svg{
                color: $mainColor;
            }
            & .rowAboutDop{
                background-color: rgba(229, 229, 229, 0.3);
                & span{
                    @include fons(1rem, $Ubuntu);
                    color: $mainColor;
                    font-weight: bold;
                }
                & td{
                    text-align: center;
                    padding: 12px;
                }
            }
        }
    }
    @media (min-width: 960px) {
        margin-left: 8.35% !important; 
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }
    @media (max-width: 960px) {
        margin: -24px!important;
        margin-top: 64px!important;
        & > div{
            padding-left: 34px!important;
        }
        & h1{
            @include fons(1.7rem, $Futuris);
            text-align: center;
        }
    }
    & .newAddr{
        @include fons(1rem, $Ubuntu);
        color: $mainColor;
        cursor: pointer;
    }
    & .boxAddr{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        & > svg{
            font-size: 1.3rem;
            color: $mainColor;
            padding: 10px;
            cursor: pointer;
        }
    }
    & .boxPic{
        background-color: #e5e5e5;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        padding: 6px 12px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover{
            background-color: $mainColor;
            color: #fff;
        }
        &.active{
            background-color: $mainColor;
            color: #fff;
        }
        & span:first-child{
            text-align: center;
            @include fons(0.7rem, $Ubuntu);
        }
        & span:last-child{
            text-align: center;
            @include fons(1rem, $Ubuntu);
        }
    }
}