$Ubuntu: 'Ubuntu';
$Futuris: 'Futuris Bold';
$mainColor: #BB0025;
@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size !important;
    font-family: $family !important;
}
.Profile{
    margin-top: 64px;
}
.modalProfile{
    & h6{
        text-align: center;
        @include fons(1.6rem, $Futuris);
    }
    & .modalProfileContent{
        padding-top: 0!important;
        & span, p, b{
            @include fons(1rem, $Ubuntu);
        }
    }
} 
.MuiTabs-scroller.MuiTabs-fixed > div{
    justify-content: center;
}
.TablePromo .TEXT, .TableOrders .TEXT{
    @include fons(1.1rem, $Ubuntu);
}
.TablePromo td, .TableOrders td{
    text-align: center;
}
.TablePromo, .TableOrders, .TablePromoMobile{
    width: 100%;
    border-collapse: collapse;
}
.TablePromo thead, .TableOrders thead{
    border-bottom: 2px solid #e5e5e5;
}
.TablePromo tbody tr, .TableOrders tbody tr, .TablePromoMobile tbody tr{
    border-bottom: 1px solid #e5e5e5;
}
.TablePromo td, .TableOrders td, .TablePromoMobile td{
    padding: 15px 5px;
}
.TableInfo{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin: 40px 0;
    & .input{
        margin: 0px 40px;
        width: calc(100% - 80px);
    }
    & .input.checkbox{
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        width: calc(70% - 80px);
    }
    & form{
        display: flex;
        width: 70%;
    }
    & *{
        @include fons(1.1rem, $Ubuntu);
    }
    & .ChangeDay{
        width: calc(40% - 5px);
        margin-right: 5px;
    }
    & .ChangeM{
        width: calc(60% - 5px);
        margin-left: 5px;
    }
}
.menuItem{
    @include fons(1.1rem, $Ubuntu);
}
@media (max-width: 960px) {
    .TableOrders{
        width: calc(100% - 40px);
        margin-left: 20px;
    }
    .TableInfo{
        display: flex; 
        flex-direction: column;
        align-items: center; 
        margin: 0;
        & .input{
            margin: 20px 40px;
            width: calc(100% - 80px);
        }
        & .input.checkbox{
            -ms-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            width: calc(100% - 80px);
        }
        & form{
            display: flex;
            width: 100%;
            flex-direction: column;
            margin-bottom: 0;
        }
    }
}
.MuiFormLabel-root.Mui-focused{
    color: $mainColor!important;
}
.MuiInput-underline:after{
    border-bottom: 2px solid $mainColor!important;
}
.MuiCheckbox-colorSecondary.Mui-checked{
    color: $mainColor!important;
}
.MuiSelect-select:focus{
    background-color: #fff!important;
}
.MuiSnackbarContent-root{
    background-color: inherit!important;
}
.otherLabel{
    @include fons(0.8rem, $Ubuntu);
}
.textName{
    @include fons(1.1rem, $Futuris);
}
.textDesc{
    @include fons(1.1rem, $Ubuntu);
}
.TableOrders .CardPriceItem{
    @include fons(1.1rem, $Ubuntu);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.PrivateTabIndicator-colorSecondary-3{
    background-color: $mainColor!important;
}
.TEXT.promoName{
    color: $mainColor!important;
    cursor: pointer;
}