.Actii{
    
}
.Actii h1{
    font-size: 2rem;
    font-family: futuris!important;
    text-align: center;
}
.modalActii h6{
    text-align: center;
    font-family: futuris!important;
    font-size: 1.6rem;
}
.modalActiiContent{
    padding-top: 0!important;
}
.modalActiiContent span, .modalActiiContent p, .modalActiiContent b{
    font-family: ubuntu!important;
    font-size: 1rem;
}