$Ubuntu: 'Ubuntu';
$Futuris: 'Futuris Bold';
@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size;
    font-family: $family !important;
}
.Actii h1{
    @include fons(2rem, $Futuris);
    text-align: center;
}
.modalActii{
    & h6{
        text-align: center;
        @include fons(1.6rem, $Futuris);
    }
    & .modalActiiContent{
        padding-top: 0!important;
        & span, p, b{
            @include fons(1rem, $Ubuntu);
        }
    }
}