@charset "utf-8"; 
@font-face {
    font-family: 'FuturaFuturisC';
    src: url('/src/assets/fonts/FuturaFuturisC-Bold.eot');
    src: local('FuturaFuturisC Bold'), local('FuturaFuturisC-Bold'),
        url('/src/assets/fonts/FuturaFuturisC-Bold.eot?#iefix') format('embedded-opentype'),
        url('/src/assets/fonts/FuturaFuturisC-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/FuturaFuturisC-Bold.woff') format('woff'),
        url('/src/assets/fonts/FuturaFuturisC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$Ubuntu: 'Ubuntu';
$Futuris: 'FuturaFuturisC';
$colorMain: #CC0033;
@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size;
    font-family: $family, sans-serif !important;
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px #d0d0d0;
	border-radius: 10px;
	background-color: #fff;
}

::-webkit-scrollbar{
	width: 7px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #d0d0d0;
	background-color: #d0d0d0;
}

.example-enter {
    opacity: 0.01;
}
.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.example-leave {
    opacity: 1;
}
.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

body{
    margin: 0px!important;
}
.BtnBorder span{
    @include fons(1rem, $Ubuntu);
}
.footer{
    padding: 24px 16px;
    margin-top: auto;
    background-color: $colorMain;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    & .copy{
        align-content: flex-end;
        display: grid;
    }
    & p{
        @include fons(1rem, $Ubuntu);
        color: #fff;
        padding: 4px 0px;
    }
    & svg{
        color: #fff;
        @include fons(2rem, $Ubuntu);
    }
    @media (max-width: 1024px){
        padding-bottom: 56px!important;
        margin-bottom: 20px!important;
    }
    & .mainContainer {
        @media (min-width: 1280px) {
            margin-left: 8.35% !important; 
        }
        @media (min-width: 960px) {
            margin-left: 8.35% !important; 
            flex-grow: 0;
            max-width: 83.333333%;
            flex-basis: 83.333333%;
        }
    }
    & .socIcons{
        display: flex;
        justify-content: flex-end;
        @media (max-width: 800px){
            display: block;
        }
    }
}
.home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    & .header{
        background-color: #fff;
        margin-bottom: 50px;
        height: 50px;
    }
    & .sub_header{
        min-height: 50px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        & .thisCity{
            color: #878787;
            @include fons(1rem, $Ubuntu);
            display: flex;
            align-items: center;
            padding-bottom: 2px;
            & svg{
                padding-right: 6px;
                font-size: 1.1rem;
                padding-bottom: 2px;
            }
        }
        & .CityProfileNav{
            display: flex;
            flex-direction: column;
            margin-right: 15px!important;
            & > span{
                @include fons(1rem, $Ubuntu);
            }
        }
        & > div{
            display: flex;
            align-items: center;
            justify-content: end;
        }
        & img{
            height: 33px;
        }
        & .ShopIconBTN{
            & .MuiBadge-anchorOriginTopRightRectangle{
                right: -10px!important;
            }
            & svg{
                fill: $colorMain;
            }
        } 
    }
    & a{
        text-decoration: none;
    }
    & .cat{
        @include fons(1rem, $Ubuntu);
        cursor: pointer;
        color: #000;
        text-decoration: none;
        
    }
    & .catLink{
        text-decoration: none;
        white-space: nowrap;
    }
}
.MuiButtonGroup-groupedContainedHorizontal:not(:last-child){
    border-right: 0px solid #bdbdbd!important;
}
.BtnCardMain{   
    padding: 1px!important;
    background-color: #fff!important;
    min-width: 35px!important;
    min-height: 30px!important;
    & .CardCountItem{
        @include fons(1rem, $Ubuntu);
    }
    &:hover{
        background-color: #fff!important;
    }
    &.PROMO svg{
        color: #bababa!important;
    }
}
.BtnBorder{
    border: 2px solid $colorMain;
    width: 109px;
    border-radius: 10px!important;
    justify-content: center;
    overflow: hidden;
}
.BtnBorderOther{
    border: 2px solid $colorMain;
}
.BtnBorder:not(.count) span{
    color: $colorMain;
}
.BtnBorderOther:not(.count) span{
    color: $colorMain;
    padding: 1px 25px;
}
.BtnBorder.count svg{
    color: $colorMain;
}
.BtnBorderWOBorder{
    width: 109px;
    & svg{
        color: $colorMain;
    }
}
.MuiBadge-colorPrimary{
    background-color: $colorMain!important;
}
.mandatory{
    scroll-snap-type: x mandatory;
}
.activeCatTest{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.scrollCat{
    margin-top: 50px; 
    display: flex;
    flex-direction: row;
    overflow: scroll;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    &::-webkit-scrollbar{
    	display: none;
    }
    & > a:first-child{
        margin-left: 10px;
    }
    & a{
        width: max-content;
        display: flex;
        padding: 6px 10px; 
        white-space: nowrap;
    }
}
.activeCat{
    background-color: $colorMain;
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
    & span, a{
        color: #fff!important;
        padding-bottom: 1px;
    }
}
#simple-popover{
    & .DescPromo{
        width: 393px;
        padding-top: 15px;
        & span{
            @include fons(0.8rem, $Ubuntu);
        }
    }
    & .InCart{
        width: 393px; 
        padding-top: 15px; 
        display: flex;
        justify-content: flex-end;
        & span{
            @include fons(0.875rem, $Ubuntu);
        }
        & button{
            width: 100%;
        }
    }
    & .TableMini{
        width: inherit;
        & tbody{
            overflow-y: scroll;
            overflow-x: hidden;
            height: 200px;
            display: table-caption;
            width: 100%;
            border-bottom: 1px solid #e5e5e5;
        }
        & .TableMiniName{
            width: 40%;
            @include fons(1rem, $Ubuntu);
        }
        & .TableMiniPrice{
            text-align: center;
            @include fons(1rem, $Ubuntu);
            display: flex;
            justify-content: flex-end;
            & svg{
                font-size: 0.7rem;
                padding-top: 6px;
            }
        }
        & .TableMiniFullName{
            @include fons(1rem, $Ubuntu);
            width: 70%;
        }
        & .TableMiniFullPrice{
            @include fons(1rem, $Ubuntu);
            width: 40%;
            text-align: center;
        }
    }
    & .SpacePromo{
        padding: 2px 4px;
        display: flex;
        align-items: center;
        height: 34px;
        width: 390px;
        & > div{
            margin-left: 8px;
            flex: 1;
        }
        & hr{
            height: 28px;
            margin: 4px;
        }
        & svg{
            fill: $colorMain;
        }
        & input{
            @include fons(1rem, $Ubuntu);
        }
    }
}

 
@media (min-width: 1280px){
    .mainContainer.MuiGrid-grid-lg-10, .mainContainer.MuiGrid-grid-xs-10 {
        margin-left: 8.35%!important;
    }
    .mainContainer.MuiGrid-grid-md-8 {
        margin-left: 16.66665%!important;
    }
}
@media (min-width: 960px){
    .mainContainer.MuiGrid-grid-lg-10, .mainContainer.MuiGrid-grid-xs-10, .mainContainer.MuiGrid-grid-md-10 {
        margin-left: 8.35%!important;
    }
    .mainContainer.MuiGrid-grid-md-8 {
        margin-left: 16.66665%!important;
    }
}

.mainContainer.MuiGrid-spacing-xs-3{
    margin: 0;
}
.dis_none{
    display: none!important;
}
.ModalAuth{
    & .ModalContent_1_1, .ModalContent_1_2{
        display: flex;
        flex-direction: column;
    }
    & .ModalContent_1_3{
        margin-top: 30px;
        display: flex; 
        flex-direction: column;
    }
    & .ModalLabel{
        margin-bottom: 5px;
        @include fons(1.1rem, $Ubuntu);
    }
    & .changeNumber{
        @include fons(0.8rem, $Ubuntu);
        padding-top: 10px; 
        cursor: pointer;
        width: fit-content;
        color: $colorMain;
        border-bottom: 1px dotted $colorMain;
    }
    & .InputMask{
        border: 1px solid #000;
        border-radius: 4px;
        @include fons(1.1rem, $Ubuntu);
        letter-spacing: 0.6px;
        padding: 9px 15px 9px 15px;
        &:focus{
            outline: inherit!important;
        }
    }
    & .MuiDialogTitle-root{
        text-align: center;
        & h2{
            @include fons(1.8rem, $Ubuntu);
        }
    }
}
.ModalCity{
    & a{
        @include fons(1.5rem, $Ubuntu);
        margin: 6px 6px;
        text-align: center;
        background-color: #e5e5e5;
        border-radius: 4px;
        padding: 5px;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        &.active{
            background-color: $colorMain!important;
            color: #fff;
        }
    }
    & .MuiDialogTitle-root {
        text-align: center;
        & h2{
            @include fons(1.8rem, $Ubuntu);
        }
    }
    & .ModalContent_1_1{
        display: flex;
        flex-direction: column;
    }
}
.bottomNavigate{
    position: fixed;
    bottom: 0px; 
    width: 100%;
    height: 45px; 
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 2;
    & .MuiBadge-anchorOriginTopRightRectangle{
        right: -7px!important;
    }
    & .MuiButtonBase-root {
        flex: 1;
        color: inherit;
        border: 0;
        cursor: pointer;
        margin: 0;
        display: inline-flex;
        outline: 0;
        padding: 0;
        position: relative;
        align-items: center;
        user-select: none;
        border-radius: 0;
        vertical-align: middle;
        -moz-appearance: none;
        justify-content: center;
        text-decoration: none;
        background-color: transparent;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
        & svg{
            font-size: 1.5rem;
        }
    }
}
.MuiBadge-badge{
    @include fons(0.75rem, $Ubuntu);
}

.footer.cart{
    @media (max-width: 450px) {
        height: 127px!important;
        overflow: hidden!important;
    }
}