@charset "utf-8"; 
@font-face {
	font-family: Futuris Bold; /* Гарнитура шрифта */
	src: url('/src/assets/fonts/FuturaFuturisC-Bold.ttf'); /* Для IE5-8 */
	src: local(FuturaFuturisC-Bold), url('/src/assets/fonts/FuturaFuturisC-Bold.ttf'); /* Для остальных браузеров */
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    margin: 0px!important;
}
.footer{
    padding: 24px 16px;
    margin-top: auto;
    background-color: #BB0025;
}
@media (max-width: 1024px){
    footer{
        padding-bottom: 56px!important;
        margin-bottom: 20px!important;
    }
}
.footer p{
    font-family: Ubuntu, sans-serif!important;
    color: #fff;
}
.footer svg{
    color: #fff;
    font-size: 2rem;
}
.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    & .header{
        background-color: #fff;
        margin-bottom: 50;
        height: 50;
    }
    & .sub_header{
        min-height: 50;
        height: 50;
    }
    & .sub_header > div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .cat{
        font-size: 1em;
        font-family: Ubuntu, sans-serif!important;
        cursor: pointer;
        color: #000;
    }
    & .catLink{
        text-decoration: none;
        white-space: nowrap;
    }
    & .sub_header img{
        height: 40px;
    }
}
.MuiButtonGroup-groupedContainedHorizontal:not(:last-child){
    border-right: 0px solid #bdbdbd!important;
}
.BtnCardMain{   
    padding: 1px!important;
    background-color: #fff!important;
    min-width: 35px!important;
    min-height: 30px!important;
}
.BtnCardMain .CardCountItem{
    font-family: Ubuntu, sans-serif!important;
}
.CardAction{
    flex-direction: column;
    align-items: end!important;
    padding: 1.2vw!important;
    width: calc(100% - 2.4vw);
}
.BtnCardMain:hover{
    background-color: #fff!important;
}
.BtnBorder{
    border: 2px solid #BB0025;
    width: 109px;
}
.BtnBorderOther{
    border: 2px solid #BB0025;
}
.BtnBorder:not(.count) span{
    color: #BB0025;
}
.BtnBorderOther:not(.count) span{
    color: #BB0025;
    padding: 1px 25px;
}
.BtnBorder.count svg{
    fill: #BB0025
}
.BtnBorderWOBorder{
    width: 109px;
}
.BtnBorderWOBorder svg{
    fill: #BB0025;
}
.activeCat{
    background-color: #BB0025;
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
}
.activeCatTest{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.activeCat span, .activeCat a{
    color: #fff!important;
}
.proximity{
    scroll-snap-type: none;
}
.mandatory{
    scroll-snap-type: x mandatory;
}
.TableMini{
    width: inherit;
}
.TableMini tbody{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
    display: table-caption;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
.ShopIconBTN svg{
    fill: #BB0025;
}
.SpacePromo{
    padding: 2px 4px;
    display: flex;
    align-items: center;
    height: 34;
    width: 390;
}
.SpacePromo > div{
    margin-left: 8;
    flex: 1;
}
.SpacePromo hr{
    height: 28;
    margin: 4;
}
.SpacePromo svg{
    fill: #BB0025;
}
.SpacePromo input{
    font-family: Ubuntu, sans-serif!important;
}
.DescPromo{
    width: 393;
    padding-top: 15;
}
.DescPromo span{
    font-size: 0.8rem;
    font-family: Ubuntu, sans-serif!important;
}
.InCart{
    width: 393; 
    padding-top: 15; 
    display: flex;
    justify-content: flex-end;
}
.InCart span{
    font-family: Ubuntu, sans-serif!important;
}
.InCart button{
    width: 100%;
}
.TableMini .TableMiniName{
    width: 40%;
    font-family: Ubuntu, sans-serif!important;
}
.TableMini .TableMiniPrice{
    text-align: center;
    font-family: Ubuntu, sans-serif !important;
    display: flex;
    justify-content: flex-end;
}
.TableMini .TableMiniFullName{
    font-family: Ubuntu, sans-serif!important;
    width: 70%;
}
.TableMini .TableMiniFullPrice{
    font-family: Ubuntu, sans-serif!important;
    width: 40%;
    text-align: center;
}
@media (min-width: 1280px){
    .mainContainer.MuiGrid-grid-lg-10, .mainContainer.MuiGrid-grid-xs-10 {
        margin-left: 8.35%!important;
    }
}
@media (min-width: 960px){
    .mainContainer.MuiGrid-grid-lg-10, .mainContainer.MuiGrid-grid-xs-10, .mainContainer.MuiGrid-grid-md-10 {
        margin-left: 8.35%!important;
    }
}


@media (min-width: 1280px) {
    .footer .mainContainer {
        margin-left: 8.35% !important; 
    } 
}

@media (min-width: 960px) {
    .footer .mainContainer {
        margin-left: 8.35% !important; 
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    } 
}

.socIcons{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 800px){
    .socIcons{
        display: block;
    }
}
.mainContainer.MuiGrid-spacing-xs-3{
    margin: 0;
}
.dis_none{
    display: none!important;
}
.InputMask{
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 1.1rem;
    font-family: Ubuntu, sans-serif !important;
    letter-spacing: 0.6px;
    padding: 9px 15px 9px 15px;
}
.InputMask:focus{
    outline: inherit!important;
}
.ModalAuth .MuiDialogTitle-root, .ModalCity .MuiDialogTitle-root {
    text-align: center;
}
.ModalAuth .MuiDialogTitle-root h2, .ModalCity .MuiDialogTitle-root h2{
    font-size: 1.8rem;
    font-family: Ubuntu, sans-serif !important;
}
.ModalAuth .ModalContent_1_1, .ModalAuth .ModalContent_1_2, .ModalCity .ModalContent_1_1{
    display: flex;
    flex-direction: column;
}
.ModalAuth .ModalContent_1_3{
    margin-top: 30;
    display: flex; 
    flex-direction: column;
}
.ModalAuth .ModalLabel{
    font-size: 1.1rem; 
    margin-bottom: 5;
    font-family: Ubuntu, sans-serif !important;
}
.ModalCity .ModalLabel{
    font-size: 1.5rem;
    font-family: Ubuntu, sans-serif !important;
    margin: 6px 6px;
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}
.ModalCity .ModalLabel.active{
    background-color: #BB0025!important;
    color: #fff;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.scrollCat::-webkit-scrollbar{
	display: none;
}
.scrollCat > a:first-child{
    margin-left: 10;
}
.MuiBadge-colorPrimary{
    background-color: #BB0025!important;
}
.MuiBadge-anchorOriginTopRightRectangle{
    right: -10px!important;
}
.thisCity{
    color: #000;
    font-size: 1.2rem;
    font-family: Ubuntu, sans-serif !important;
}
.CityProfileNav{
    display: flex;
    flex-direction: column;
    margin-right: 15px!important;
}
.CityProfileNav > span{
    font-size: 1em;
    font-family: Ubuntu, sans-serif !important;
}