@charset "utf-8"; 
@font-face {
	font-family: Futuris Bold; /* Гарнитура шрифта */
	src: url('/src/assets/fonts/FuturaFuturisC-Bold.ttf'); /* Для IE5-8 */
	src: local(FuturaFuturisC-Bold), url('/src/assets/fonts/FuturaFuturisC-Bold.ttf'); /* Для остальных браузеров */
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$Ubuntu: 'Ubuntu';
$Futuris: 'Futuris Bold';
$colorMain: #BB0025;
@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size;
    font-family: $family !important;
}
body{
    margin: 0px!important;
}
.footer{
    padding: 24px 16px;
    margin-top: auto;
    background-color: $colorMain;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    & p{
        @include fons(1rem, $Ubuntu);
        color: #fff;
    }
    & svg{
        color: #fff;
        @include fons(2rem, $Ubuntu);
    }
    @media (max-width: 1024px){
        padding-bottom: 56px!important;
        margin-bottom: 20px!important;
    }
    & .mainContainer {
        @media (min-width: 1280px) {
            margin-left: 8.35% !important; 
        }
        @media (min-width: 960px) {
            margin-left: 8.35% !important; 
            flex-grow: 0;
            max-width: 83.333333%;
            flex-basis: 83.333333%;
        }
    }
}
.home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    & .header{
        background-color: #fff;
        margin-bottom: 50;
        height: 50;
    }
    & .sub_header{
        min-height: 50;
        height: 50;
    }
    & .sub_header > div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .cat{
        @include fons(1rem, $Ubuntu);
        cursor: pointer;
        color: #000;
        text-decoration: none;
    }
    & .catLink{
        text-decoration: none;
        white-space: nowrap;
    }
    & .sub_header img{
        height: 40px;
    }
}
.MuiButtonGroup-groupedContainedHorizontal:not(:last-child){
    border-right: 0px solid #bdbdbd!important;
}
.BtnCardMain{   
    padding: 1px!important;
    background-color: #fff!important;
    min-width: 35px!important;
    min-height: 30px!important;
    & .CardCountItem{
        @include fons(1rem, $Ubuntu);
    }
    &:hover{
        background-color: #fff!important;
    }
}
.CardAction{
    flex-direction: column;
    align-items: end!important;
    padding: 1.2vw!important;
    width: calc(100% - 2.4vw);
}
.BtnBorder{
    border: 2px solid $colorMain;
    width: 109px;
}
.BtnBorderOther{
    border: 2px solid $colorMain;
}
.BtnBorder:not(.count) span{
    color: $colorMain;
}
.BtnBorderOther:not(.count) span{
    color: $colorMain;
    padding: 1px 25px;
}
.BtnBorder.count svg{
    fill: $colorMain
}
.BtnBorderWOBorder{
    width: 109px;
}
.BtnBorderWOBorder svg{
    fill: $colorMain;
}
.activeCat{
    background-color: $colorMain;
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
    & span, a{
        color: #fff!important;
    }
}
.activeCatTest{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.proximity{
    scroll-snap-type: none;
}
.mandatory{
    scroll-snap-type: x mandatory;
}
.TableMini{
    width: inherit;
    & tbody{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 200px;
        display: table-caption;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
    }
}
.ShopIconBTN svg{
    fill: $colorMain;
}
.SpacePromo{
    padding: 2px 4px;
    display: flex;
    align-items: center;
    height: 34;
    width: 390;
    & > div{
        margin-left: 8;
        flex: 1;
    }
    & hr{
        height: 28;
        margin: 4;
    }
    & svg{
        fill: $colorMain;
    }
    & input{
        @include fons(1rem, $Ubuntu);
    }
}
.DescPromo{
    width: 393;
    padding-top: 15;
    & span{
        @include fons(0.8rem, $Ubuntu);
    }
}
.InCart{
    width: 393; 
    padding-top: 15; 
    display: flex;
    justify-content: flex-end;
    & span{
        @include fons(1rem, $Ubuntu);
    }
    & button{
        width: 100%;
    }
}
.TableMini{
    & .TableMiniName{
        width: 40%;
        @include fons(1rem, $Ubuntu);
    }
    & .TableMiniPrice{
        text-align: center;
        @include fons(1rem, $Ubuntu);
        display: flex;
        justify-content: flex-end;
    }
    & .TableMiniFullName{
        @include fons(1rem, $Ubuntu);
        width: 70%;
    }
    & .TableMiniFullPrice{
        @include fons(1rem, $Ubuntu);
        width: 40%;
        text-align: center;
    }
} 
@media (min-width: 1280px){
    .mainContainer.MuiGrid-grid-lg-10, .mainContainer.MuiGrid-grid-xs-10 {
        margin-left: 8.35%!important;
    }
    .mainContainer.MuiGrid-grid-md-8 {
        margin-left: 16.66665%!important;
    }
}
@media (min-width: 960px){
    .mainContainer.MuiGrid-grid-lg-10, .mainContainer.MuiGrid-grid-xs-10, .mainContainer.MuiGrid-grid-md-10 {
        margin-left: 8.35%!important;
    }
    .mainContainer.MuiGrid-grid-md-8 {
        margin-left: 16.66665%!important;
    }
}
.socIcons{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 800px){
    .socIcons{
        display: block;
    }
}
.mainContainer.MuiGrid-spacing-xs-3{
    margin: 0;
}
.dis_none{
    display: none!important;
}
.InputMask{
    border: 1px solid #000;
    border-radius: 4px;
    @include fons(1.1rem, $Ubuntu);
    letter-spacing: 0.6px;
    padding: 9px 15px 9px 15px;
    &:focus{
        outline: inherit!important;
    }
}
.ModalAuth .MuiDialogTitle-root, .ModalCity .MuiDialogTitle-root {
    text-align: center;
}
.ModalAuth .MuiDialogTitle-root h2, .ModalCity .MuiDialogTitle-root h2{
    @include fons(1.8rem, $Ubuntu);
}
.ModalAuth .ModalContent_1_1, .ModalAuth .ModalContent_1_2, .ModalCity .ModalContent_1_1{
    display: flex;
    flex-direction: column;
}
.ModalAuth{
    & .ModalContent_1_3{
        margin-top: 30;
        display: flex; 
        flex-direction: column;
    }
    & .ModalLabel{
        margin-bottom: 5;
        @include fons(1.1rem, $Ubuntu);
    }
    & .changeNumber{
        @include fons(0.8rem, $Ubuntu);
        padding-top: 10; 
        cursor: pointer;
        width: fit-content;
        color: $colorMain;
        border-bottom: 1px dotted $colorMain;
    }
}
.ModalCity{
    & .ModalLabel{
        @include fons(1.5rem, $Ubuntu);
        margin: 6px 6px;
        text-align: center;
        background-color: #e5e5e5;
        border-radius: 4px;
        padding: 5px;
        cursor: pointer;
        & .active{
            background-color: $colorMain!important;
            color: #fff;
        }
    }
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.scrollCat{
    &::-webkit-scrollbar{
    	display: none;
    }
    & > a:first-child{
        margin-left: 10;
    }
}
.MuiBadge-colorPrimary{
    background-color: $colorMain!important;
}
.MuiBadge-anchorOriginTopRightRectangle{
    right: -10px!important;
}
.thisCity{
    color: #878787;
    @include fons(1.3rem, $Ubuntu);
    display: flex;
    align-items: center;
}
.CityProfileNav{
    display: flex;
    flex-direction: column;
    margin-right: 15px!important;
    & > span{
        @include fons(1rem, $Ubuntu);
    }
}