$Ubuntu: 'Ubuntu';
$Futuris: 'Futuris Bold';
@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size;
    font-family: $family !important;
}
.MainItem{
    margin-bottom: 50px!important;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 64px;
    & h1{
        @include fons(2rem, $Futuris);
    }
    & > div:first-child{
        text-align: center;
    }
    & > div:last-child{
        display: flex; 
        flex-direction: column;
    }
    & > div:not(:last-child):not(:first-child){
        display: flex; 
        justify-content: flex-end;
    }
    & img{
        max-width: 400px;
        width: 100%;
        height: intrinsic;
    }
    & .ItemDesc{
        @include fons(1.2rem, $Ubuntu);
        padding-bottom: 5px;
    }
    & .ItemPrice{
        display: flex;
        align-items: flex-end;
        font-size: 1.4rem!important;
        & svg{
            padding-bottom: 1px;
            font-size: 1.2rem;
            padding-left: 2px;
        }
    }
    & .CardInCardItem{
        width: 100%;
        text-align: center;
        @include fons(0.8rem, $Ubuntu);
    }
    & .CardCountItem{
        @include fons(1rem, $Ubuntu);
    }
    & .ItemOther{
        display: flex;
        align-items: center;
    }
    & .ItemOther > div{
        padding-left: 30px;
    }
}
.MainItem_mobile{
    margin-top: 75px;
    padding: 0 20px;
    padding-bottom: 20px;
    & h1{
        @include fons(1.7rem, $Futuris);
    }
    & img{
        max-width: 400px;
        width: 100%;
        height: intrinsic;
    }
    & .ItemDesc{
        @include fons(0.9rem, $Ubuntu);
        padding-bottom: 5px;
    }
    & .ItemPrice{
        display: flex;
        align-items: flex-end;
    }
    & .CardInCardItem{
        width: 100%;
        text-align: center;
        @include fons(0.8rem, $Ubuntu);
    }
    & .MainLine, .SecondLine{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        & svg{
            @include fons(1.4rem, $Ubuntu);
        }
    }
    & .BtnLine{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
}
.MainItemPopover{
    & > table{
        padding: 16px;
        background-color: #000;
        width: 100%;
        & td{
            padding-bottom: 10px;
        }
    }
    & span{
        color: #fff;
        @include fons(0.9rem, $Ubuntu);
    }
    & .OtherMiniPopover{
        @include fons(0.7rem, $Ubuntu);
    }
    & .NamePopover{
        text-align: center;
    }
    & .OtherPopover{
        display: flex;
        justify-content: space-between;
    }
    &.MainItemPopoverLot{
        height: calc(200px - 32px);
        width: 260px;
        background-color: #000;
    }
    &.MainItemPopoverOne{
        height: calc(170px - 32px);
        width: 260px;
        background-color: #000;
        overflow: hidden;
    }
}