$Ubuntu: 'Ubuntu';
$Futuris: 'FuturaFuturisC Bold';
$Roboto: 'Roboto';
$Robotobold: 'Robotobold';
$colorMain: #CC0033;
@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size;
    font-family: $family !important;
}
@mixin fons_new($size: 1rem, $family: $Ubuntu) {
    font-size: $size !important;
    font-family: $family, bold !important;
}


.itemTabs.MuiTabs-root{
    min-height: auto;
}
.itemTabs .MuiTab-root{
    min-width: auto;
    min-height: 25px;
    padding: 3px 12px;
}
.MuiAccordion-root.MuiPaper-elevation1{
    box-shadow: none!important;
}
.Accordion{
    padding-left: 12px;
    padding-right: 12px;
    & > div{
        box-shadow: none!important;
        & > div{
            padding: 0;
        }
    }
}
.MuiAccordion-root:before{
    height: 0!important;
}
.MuiAccordionSummary-root{
    padding: 0!important;
}
.ItemPriceLabel{
    @include fons(1.2rem, $Ubuntu);
}
.ItemPriceValue{
    @include fons(1.2rem, $Ubuntu);
    font-weight: bold!important;
}

.hidddenText4{
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.OpenItemPC .MuiDialog-paper{
    width: 75%!important;
    height: 86%!important;
}

.MainItem{
    /*margin-bottom: 50px!important;
    padding-left: 10%;
    padding-right: 10%;*/
    & h1{
        @include fons(1.625rem, $Roboto);
        font-weight: 900;
        color: #525252;
        line-height: 1;
        margin-top: 20px;
    }
    & > div:first-child{
        text-align: center;
    }
    & > div:last-child{
        display: flex; 
        flex-direction: column;
    }
    & > div:not(:last-child):not(:first-child){
        display: flex;
    }
    &:not(.MainItemMobile) img{
        object-fit: contain;
        image-rendering: auto;
        width: 100%;
        height: auto;
    }
    & .ItemDesc{
        @include fons(1.2rem, $Ubuntu);
        padding-bottom: 5px;
    }
    & .ItemPrice{
        display: flex;
        align-items: flex-end;
        font-size: 1.4rem!important;
        & svg{
            padding-bottom: 1px;
            font-size: 1.2rem;
            padding-left: 2px;
        }
    }
    & .CardInCardItem{
        width: 92%;
        text-align: center;
        @include fons(0.8rem, $Ubuntu);
    }
    & .CardCountItem{
        @include fons(1rem, $Ubuntu);
    }
    & .ItemOther{
        display: flex;
        align-items: center;
    }
    & .ItemOther > div{
        padding-left: 30px;
    }
}
.MainItem_mobile{
    margin-top: 75px;
    padding: 0 20px;
    padding-bottom: 20px;
    & h1{
        @include fons_new(1.7rem, $Futuris);
    }
    & img{
        max-width: 400px;
        width: 100%;
        height: intrinsic;
    }
    & .ItemDesc{
        @include fons(0.9rem, $Ubuntu);
        padding-bottom: 5px;
    }
    & .ItemPrice{
        display: flex;
        align-items: flex-end;
    }
    & .CardInCardItem{
        width: 100%;
        text-align: center;
        @include fons(0.8rem, $Ubuntu);
    }
    & .MainLine, .SecondLine{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        & svg{
            @include fons(1.4rem, $Ubuntu);
        }
    }
    & .BtnLine{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
}
.MainItemPopover{
    &:not(.tab) > table{
        padding: 16px;
        background-color: #000;
        width: 100%;
        & td{
            padding-bottom: 10px;
        }
    }
    &.tab > table{
        padding: 16px;
        width: 100%;
        & td{
            padding-bottom: 10px;
        }
    }
    &:not(.tab) span{
        color: #fff;
        @include fons(0.9rem, $Ubuntu);
    }
    &.tab span{
        @include fons(0.9rem, $Ubuntu);
    }
    & .OtherMiniPopover{
        @include fons(0.7rem, $Ubuntu);
    }
    & .NamePopover{
        text-align: center;
    }
    & .OtherPopover{
        display: flex;
        justify-content: space-between;
    }
    &:not(.tab).MainItemPopoverLot{
        height: calc(200px - 32px);
        width: 260px;
        background-color: #000;
    }
    &:not(.tab).MainItemPopoverOne{
        height: calc(170px - 32px);
        width: 260px;
        background-color: #000;
        overflow: hidden;
    }
}
.itemMiniText{
    position: absolute;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    & .dopItemName{
        @include fons_new(0.8rem, $Futuris);
    }
    & .ItemDesc{
        @include fons(0.7rem, $Ubuntu);
    }
}
.newBTN{
    display: flex;
    flex-direction: row;
    align-items: center; 
    cursor: pointer;
    //background-color: $colorMain;
    background: linear-gradient(160deg, $colorMain, #fff 300%);
    border-radius: 10px; 
    padding: 3px 10px; 
    color: #fff;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    & svg{
        fill: #fff;
    }
}
.pcItem{
    @media (max-width: 600px){
        display: none;
    }
}
.NewModal{
    & .ModalItemTitle{
        font-family: $Roboto!important;
        font-weight: 500!important;
        color: #525252!important;
        font-size: 2.7rem!important;
        letter-spacing: 1px!important;
        line-height: 1em!important;
    }
    & .ModalItemOther{
        font-family: $Roboto!important;
        font-weight: 400!important;
        color: #525252!important;
        font-size: 0.9rem!important;
    }
    & .ModalItemDesc{
        font-family: $Roboto!important;
        font-weight: 400!important;
        color: #525252!important;
        font-size: 1.5rem!important;
    }
    & .ModalItemButtonCart{
        font-family: $Roboto!important;
        font-weight: 500!important;
        color: #525252!important;
        font-size: 1.2rem!important;
        text-transform: initial!important;
    }
    & .ModalItemButtonCartOther{
        font-family: $Roboto!important;
        font-weight: 300!important;
        color: #525252!important;
        font-size: 1.2rem!important;
        text-transform: initial!important;
    }
}
.MuiTooltip-popper{
    //left: -100px!important;
    pointer-events: auto!important;
    & > div{
        max-width: 400px!important;
        background-color: rgba(0,0,0, 0.65) !important;
        backdrop-filter: blur(15px);
        color: #fff!important;
        border-radius: 30px;
        padding: 20px;
        border: none!important;
        z-index: 4000;
    }
}
.styleTooltip > div::before{
    content: '';
    border-bottom: 1px dotted #ccc;
    flex-grow: 1;
    order: 2;
    margin: 5px 7px;
}