$Ubuntu: 'Ubuntu';
$Futuris: 'Futuris Bold';
$colorMain: #BB0025;
@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size;
    font-family: $family !important;
}
.Category{
    & h1, h2{
        @include fons(2rem, $Futuris);
        text-align: center;
    }
}
.ItemDialog{
    & .MainItem_mobile{
        margin-top: 30px!important;
    }   
}
.CardItem{
    max-width: 345; 
    min-height: 300px;
    display: flex; 
    flex-direction: column; 
    align-items: stretch;
    justify-content: space-between;
    & > div:first-child{
        padding: 0;
    }
    & img{
        width: 100%;
        min-height: initial;
    }
    & .CardInfoItem{
        @include fons(0.8rem, $Ubuntu);
    }
    & .CardCountItem{
        @include fons(1rem, $Ubuntu);
    }
    & a{
        color: #000;
        text-decoration: none;
    }
    & .CardNameItem{
        @include fons(1.2rem, $Ubuntu);
        font-weight: bold;
    }
    & .CardInfoWeiItem{
        @include fons(0.8rem, $Ubuntu);
    }
    & .CardPriceItem{
        @include fons(1.5rem, $Ubuntu);
        display: flex;
        align-items: flex-end;
        & > svg{
            padding-bottom: 4px;
            font-size: 1.2rem;
            padding-left: 2px;
        }
    }
    & .CardInCardItem{
        width: 100%;
        text-align: center;
        @include fons(0.8rem, $Ubuntu);
    }
    & .CardAction{
        flex-direction: column;
        align-items: end!important;
        padding: 1.2vw!important;
        width: calc(100% - 2.4vw);
    }
}
.CardItem_mobile{
    & img{
        margin-right: 10px;
        width: calc(100% - 10px);
    }
    & .SecondBox{
        display: flex;
        flex-direction: column;
        & > div{
            margin-top: auto;
            display: flex;
            flex-direction: row; 
            align-items: end;
            justify-content: space-between;
        }
    }
    & .CardNameItem{
        @include fons(1.2rem, $Ubuntu);
        font-weight: bold;
    }
    & .CardInfoWeiItem{
        @include fons(0.8rem, $Ubuntu);
    }
    & .CardPriceItem{
        @include fons(1.5rem, $Ubuntu);
        display: flex;
        align-items: flex-end;
        & > svg{
            padding-bottom: 5px;
            font-size: 1rem;
            padding-left: 2px;
        }
    }
    & .CardInCardItem{
        width: 100%;
        text-align: center;
        @include fons(0.8rem, $Ubuntu);
    }
    & .CardInfoItem{
        @include fons(0.8rem, $Ubuntu);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }
    & > div:first-child{
        display: flex;
        justify-content: center;
        align-items: center;
    }
} 
.alice-carousel{
    margin-top: 50px!important;
    height: max-content;
    @media (max-width: 1280px){
        margin-top: 83px!important;
    }
    & .alice-carousel__stage-item img{
        width: 100%;
    }
    & .alice-carousel__prev-btn, .alice-carousel__next-btn{
        position: absolute;
        top: 0;
        width: 20%!important;
        height: calc(100% - 38px);
    }
    & .alice-carousel__prev-btn-wrapper, .alice-carousel__next-btn-wrapper{
        width: 100%;
        height: 100%;
    }
    & .alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
        font-size: 2rem;
        color: #fff!important;
        width: 100%;
        height: 100%;
        display: flex!important;
        justify-content: center;
        align-items: center;
        padding: 0px!important;
        & > span{
            opacity: 0;
        }
    }
    & .alice-carousel__next-btn{
        right: 0;
    }
    & .alice-carousel__dots{
        margin: 15px 3px 5px!important;    
    }
    & .alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
        background-color: $colorMain!important;
        opacity: 1;
    }
    & .alice-carousel__dots-item:not(.__custom) {
        background-color: $colorMain!important;
        opacity: 0.5;
    }
}
.MainItems.mainContainer{
    & > div{
        max-height: auto;
    }
    @media (min-width: 1280px) {
        margin-left: 8.35% !important; 
    }
    @media (min-width: 960px){
        margin-left: 0;
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
    @media (min-width: 1280px) {
        margin-left: 8.35% !important; 
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }
}