$Ubuntu: 'Ubuntu';
$Roboto: 'Roboto';
$Futuris: 'FuturaFuturisC Bold';
$colorMain: #CC0033;
@mixin fons($size: 1rem, $family: $Roboto) {
    font-size: $size;
    font-family: $family !important;
}
@mixin fons_new($size: 1rem, $family: $Roboto) {
    font-size: $size !important;
    font-family: $family, bold !important;
}

.swiper-wrapper._h2_{
    height: auto!important;
}
.modalActii.Item .MuiTabs-scroller.MuiTabs-fixed > div{
    justify-content: flex-start!important;
}
.modalActii.Item .MuiPaper-rounded{
    border-radius: 30px!important;
}
.modalActii.Item .modalActiiContent{
    & span:not(.dopItemName):not(.ItemDesc), p:not(.dopItemName):not(.ItemDesc), b:not(.dopItemName):not(.ItemDesc){
        //@include fons(0.8rem, $Ubuntu);
    }
}
.OpenItemPCSet .MuiDialog-paper{
    overflow-y: visible;
    //height: 44%;
    //margin-top: 17%;
}
.OpenItemPCSet .MuiDialog-scrollPaper{
    align-items: flex-end!important;
}

.modalActiiContentNew::-webkit-scrollbar {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.modalActiiContentNew::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 20px; 
}

.modalActiiContentNew::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 20px;
}


.imgSVG{
    height: 30px;
    width: 20px;
    position: absolute;
    left: 33px;
    bottom: -13px;
    & svg{
        margin-top: 12px;
        margin-left: 2px;
    }
}
.Category{
    & h1, h2{
        @include fons_new(2rem, $Roboto);
        text-align: center;
        font-weight: 600;
        width: 100%;
    }
    & h3{
        @include fons(1.2rem, $Ubuntu);
        font-weight: bold;
    }
}
.ItemDialog{
    & .MuiDialog-paperFullScreen{
        margin-top: 100px;
        overflow: initial!important;
    }
    & .MainItem_mobile{
        margin-top: 30px!important;
    }
    & span, p, b{
        //@include fons(1rem, $Ubuntu);
    }
}
.fohover{
    & .NONHOVERED{
        display: grid;
    }
    & .HOVERED{
        display: none;
    }
    &:hover{
        & .NONHOVERED{
            display: none!important;
        }
        & .HOVERED{
            display: grid!important;
        }
    }
}

.swiper_mobile{
    padding-top: 85px!important;
    margin-bottom: 20px!important;
    & .swiper-slide-prev{
        //margin-right: 5vw!important;
        //width: calc(80vw - 0px) !important;
        //margin-left: -43vw !important;
    }
    & ._h2_:not(._count_1) .swiper-slide-active{
        width: 100%;
        //width: calc(80vw - 0px )!important;
        //margin-right: 5vw!important;
    }
    & .swiper-slide-next{
        //margin-right: 5vw!important;
        //width: calc(80vw - 0px )!important;
    }
}

.swiper_pc{
    padding-top: 50px!important;
    margin-bottom: 20px!important;
    & .swiper-slide-prev{
       // margin-right: 5vw!important;
        //width: calc(80vw - 0px) !important;
        //margin-left: -48.5vw !important;
    }
    & ._h2_:not(._count_1) .swiper-slide-active{
        width: 100%;
        //width: calc(80vw - 0px )!important;
        //margin-right: 5vw!important;
    }
    & .swiper-slide-next{
        //margin-right: 5vw!important;
        //width: calc(80vw - 0px )!important;
    }
}

.swiper-button-prev{
    width: 100px;
    height: 100%;
    top: 0;
    z-index: 1;
    position: absolute;
}
.swiper-button-next{
    width: 100px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    position: absolute;
}

.swiper-pagination-bullet{
    font-size: 0;
    width: 2px;
    height: 2px;
    padding: 6px;
    margin-right: 20px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #fff;
}
.swiper-pagination-bullet-active{
    font-size: 0;
    width: 2px;
    height: 2px;
    padding: 6px;
    border-radius: 50%;
    margin-right: 20px;
    opacity: 1;
    background-color: #fff;
}

.swiper-pagination-bullets{
    text-align: center;
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 0;
    bottom: 20px;
    right: 0;
}

.CardItem{
    max-width: 345px; 
    min-height: 300px;
    display: flex; 
    flex-direction: column; 
    align-items: stretch;
    justify-content: space-between;
    &:hover img{
        transform: translate(0,5px);
        -webkit-transform: translate(0,5px);
        -o-transform: translate(0,5px);
        -moz-transform: translate(0,5px);
        
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
        -moz-transition: all 0.2s ease-in-out; /** Firefox **/
        -o-transition: all 0.2s ease-in-out; /** Opera **/
    }
    & > div:first-child{
        padding: 0;
    }
    & img{
        /*max-width: 100%;
        width: auto;
        padding: 0px 1.2vw;*/
        width: 100%;
    }
    & .CardInfoItem{
        @include fons(0.7rem, $Ubuntu);
        color: #666;
        text-align: justify;
    }
    & .CardCountItem{
        @include fons(1rem, $Ubuntu);
    }
    & a{
        color: #000;
        text-decoration: none;
    }
    & .CardNameItem{
        @include fons(1.7rem, $Roboto);
        font-weight: 500;
        text-align: center;
        color: #525252;
    }
    & .CardInfoWeiItem{
        @include fons(0.8rem, $Ubuntu);
    }
    & .CardPriceItem{
        @include fons(1.2rem, $Ubuntu);
        display: flex;
        align-items: flex-end;
        font-weight: bold;
        position: relative;
        & > svg{
            padding-bottom: 4px;
            font-size: 1.2rem;
            padding-left: 2px;
        }
    }
    & .CardPriceItem_old{
        @include fons(1rem, $Ubuntu);
        display: flex;
        align-items: center;
        font-weight: bold;
        position: relative;
        right: 10%;
        color: #bbbdc0;
        & > svg{
            padding-bottom: 4px;
            font-size: 1.2rem;
            padding-left: 2px;
            fill: #bbbdc0;
        }
    }
    & .CardPriceItem_old:before {
        border-bottom: 2px solid #bbbdc0;
        position: absolute;
        top: 0px;
        content: "";
        width: 60%;
        right: 34px;
        height: 50%;
        transform: rotate(15deg);
    }
    & .CardInCardItem{
        width: 100%;
        text-align: center;
        @include fons(0.8rem, $Ubuntu);
        fill: $colorMain;
        border-radius: inherit!important;
        text-transform: none;
    }
    & .CardAction{
        flex-direction: column;
        align-items: end!important;
        padding: 1.2vw!important;
        width: calc(100% - 2.4vw);
    }
}
.CardItem_mobile{
    & .SecondBox{
        display: flex;
        flex-direction: column;
        z-index: 1;
        & > div{
            margin-top: auto;
            display: flex;
            flex-direction: row; 
            align-items: end;
            justify-content: space-between;
            padding-top: 5px;
        }
    }
    & .CardNameItem{
        @include fons(1.2rem, $Ubuntu);
        font-weight: bold;
    }
    & .CardInfoWeiItem{
        @include fons(0.8rem, $Ubuntu);
    }
    & .CardPriceItem{
        @include fons(1.2rem, $Ubuntu);
        display: flex;
        align-items: flex-end;
        & > svg{
            padding-bottom: 5px;
            font-size: 1rem;
            padding-left: 2px;
        }
    }
    & .CardPriceItem_old{
        @include fons(0.8rem, $Ubuntu);
        display: flex;
        align-items: center;
        font-weight: 100;
        position: relative;
        color: #bbbdc0;
        & > svg{
            padding-bottom: 5px;
            font-size: 1rem;
            padding-left: 2px;
            fill: #bbbdc0;
        }
    }
    & .CardPriceItem_old:before {
        border-bottom: 1px solid #bbbdc0;
        position: absolute;
        top: 0px;
        content: "";
        width: 70%;
        right: 20px;
        height: 50%;
        transform: rotate(15deg);
    }
    & .CardInCardItem{
        width: 100%;
        text-align: center;
        @include fons(0.8rem, $Ubuntu);
        fill: $colorMain;
        border-radius: inherit!important;
    }
    & .CardInfoItem{
        @include fons(0.7rem, $Ubuntu);
        text-align: justify;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }
    & .CardInfoItem_{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }
    & > div:first-child{
        display: flex;
        justify-content: center;
        align-items: center;
    }
} 
/*#cat10 .CardItem_mobile img, 
#cat13 .CardItem_mobile img, 
#cat12 .CardItem_mobile img, 
#cat9 .CardItem_mobile img, 
#cat6 .CardItem_mobile img, 
#cat7 .CardItem_mobile img{
    margin-right: 10px;
    left: -18%!important;
    width: 130%!important;
    display: block;
    position: relative;
    z-index: 1;
}*/
.alice-carousel{
    margin-top: 50px!important;
    height: max-content;
    @media (max-width: 1280px){
        margin-top: 83px!important;
    }
    & .alice-carousel__stage-item img{
        width: 100%;
    }
    & .alice-carousel__prev-btn, .alice-carousel__next-btn{
        position: absolute;
        top: 0;
        width: 20%!important;
        height: calc(100% - 38px);
    }
    & .alice-carousel__prev-btn-wrapper, .alice-carousel__next-btn-wrapper{
        width: 100%;
        height: 100%;
    }
    & .alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
        font-size: 2rem;
        color: #fff!important;
        width: 100%;
        height: 100%;
        display: flex!important;
        justify-content: center;
        align-items: center;
        padding: 0px!important;
        & > span{
            opacity: 0;
        }
    }
    & .alice-carousel__next-btn{
        right: 0;
    }
    & .alice-carousel__dots{
        margin: 15px 3px 5px!important;    
    }
    & .alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
        background-color: $colorMain!important;
        opacity: 1;
    }
    & .alice-carousel__dots-item:not(.__custom) {
        background-color: $colorMain!important;
        opacity: 0.5;
    }
}
.MainItems.mainContainer{
    & > div{
        max-height: auto;
    }
    @media (min-width: 1280px) {
        margin-left: 5% !important; 
    }
    @media (min-width: 960px){
        margin-left: 0;
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
    @media (min-width: 1280px) {
        margin-left: 5% !important; 
        flex-grow: 0;
        max-width: 90%;
        flex-basis: 90%;
    }
}
.itemMiniText{
    display: flex;
    flex-direction: column;
    & .dopItemName{
        @include fons_new(0.8rem, $Futuris);
    }
    & .ItemDesc{
        @include fons(0.7rem, $Ubuntu);
    }
}

.OpenItemPC .MuiDialog-paper{
    overflow-y: visible!important;
}
.IconButtonClose > span{
    width: 100%!important;
    height: auto!important;
}