$Ubuntu: 'Ubuntu';
$Futuris: 'Futuris Bold';
@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size;
    font-family: $family !important;
}

.section {
    margin-top: 300px;
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.section__item {
  justify-content: center;
    align-items: center;
    flex: 0 0 content;
    height: 150px;
    scroll-snap-align: center;
    background-color: #ccc;
    font-size: 1.5rem;
    width: max-content;
    display: flex;
    padding: 6px 10px;
    white-space: nowrap;
}

/* Other styles */

.bg-1 {
  background-color: #f1c2c6;
}

.bg-2 {
  background-color: #dac2f1;
}

.bg-3 {
  background-color: #ccf1c2;
}

.bg-4 {
  background-color: #c2e9f1;
}

.bg-5 {
  background-color: #f1ebc2;
}


.Contact{
    & h1{
        @include fons(2rem, $Futuris);
    }
    & h2{
        @include fons(1.3rem, $Futuris);
    }
    & span, a{
        @include fons(0.9rem, $Ubuntu);
        width: max-content;
        color: #000;
        text-decoration: none;
    }
    & .p20{
        padding-bottom: 20;
    }
    & > div:first-child{
        text-align: center;
    }
    & > div:not(:first-child):not(:last-child){
        display: flex;
        flex-direction: column;
    }
    @media (min-width: 960px) {
        margin-left: 8.35% !important; 
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
        margin-top: 64px!important;
    }
    @media (max-width: 960px) {
        margin: -24px!important;
        margin-top: 64px!important;
        
        & > div{
            padding-left: 34px!important;
        }
    }
}
.Accordion{
    & > div{
        box-shadow: none!important;
        & > div{
            padding: 0;
        }
    }
    & .AccordionDesc{
        & b, span{
            @include fons(0.8rem, $Ubuntu);
        }
    }
}
#ForMap{
    min-height: 400px;
    height: 40%;
    width: calc(100% - 104px);
    @media (max-width: 960px) {
        padding-bottom: 40px;
    }
}
.my-hint{
    width: 220px;
    @include fons(0.9rem, $Ubuntu);
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 16px;
}