$Ubuntu: 'Ubuntu';
$Roboto: 'Roboto';
$Futuris: 'FuturaFuturisC';
$mainColor: #CC0033;
$colorText: #525252;

@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size;
    font-family: $family !important;
}
@mixin fonsNew($size: 1rem, $family: $Roboto) {
    font-size: $size;
    font-family: $family!important;
    color: $colorText;
}

.MuiMenu-list span{
    @include fons(1rem, $Ubuntu);
}
.ModalContent_1_2 input:disabled{
    color: #000!important;
}

.modalLoginStart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    padding: 30px 80px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .inputLogin:first-child{
        margin-bottom: 30px;
    }
    & .inputLogin{
        width: 100%;
        height: 60px;
        & input{
            height: 100%;
        }
        & > div{
            border-radius: 40px;
            padding-left: 10px;
            height: 100%;
        }
        & > label{
            padding-left: 10px;
            transform: translate(14px, 19px) scale(1);
        }
        & > label[data-shrink="true"], label[data-shrink=true]{
            padding-left: 0px;
            transform: translate(20px, -9px) scale(0.9);
        }
        & label, span, input{
            @include fonsNew(1rem, $Roboto);
            font-weight: 400;
        }
        & .Mui-focused legend{
            padding-left: 0px;
        }
        & fieldset{
            inset: -3px 0px 0px!important;
        }

        
    }
    
    & .loginHeader{
        height: 60px;
        margin-bottom: 30px;
        display: flex;
        align-items: flex-end;
        & h2{
            @include fonsNew(2rem, $Roboto);
            font-weight: 900;
        }
    }
    & .loginLosePWD{
        height: 80px;
        display: flex;
        align-items: center;
        & span{
            @include fonsNew(0.825rem, $Roboto);
            font-weight: 300;
            cursor: pointer;
        }
    }
    .loginLogin{
        width: 75%;
        height: 60px;
        border-radius: 120px;
        background-color: #F9BC23;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        & span{
            @include fonsNew(1.25rem, $Roboto);
            font-weight: 500;
        }
    }
    .loginCreate{
        width: 75%;
        height: 60px;
        border-radius: 120px;
        background-color: #fff;
        border: 1px solid #F9BC23;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        & span{
            @include fonsNew(1.25rem, $Roboto);
            font-weight: 500;
        }
    }
    
    & .loginSMS{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        & span{
            @include fonsNew(0.825rem, $Roboto);
            font-weight: 300;
            cursor: pointer;
        }
    }
}