$Ubuntu: 'Ubuntu';
$Futuris: 'Futuris Bold';
$mainColor: #CC0033;
@mixin fons($size: 1rem, $family: $Ubuntu) {
    font-size: $size;
    font-family: $family !important;
}

.MuiMenu-list span{
    @include fons(1rem, $Ubuntu);
}
.ModalContent_1_2 input:disabled{
    color: #000!important;
}